datasets
datasets/
datasets/*
datasets/**
COBRAS_testing-master.zip
COBRAS-dont-know.zip
noise_robust_cobras-master.zip
noise_robust_cobras/
noise_robust_cobras/**
results
results/
results/*
results/**
notebooks/.ipynb_checkpoints
notebooks/*/.ipynb_checkpoints/*

##COBRAS_dont_know##
#python
COBRAS_dont_know/__pycache__/
COBRAS_dont_know/*/__pycache__/
COBRAS_dont_know/*.py[cod]
COBRAS_dont_know/*$py.class
COBRAS_dont_know/*.so
COBRAS_dont_know/.Python
COBRAS_dont_know/build/
COBRAS_dont_know/develop-eggs/
COBRAS_dont_know/dist/
COBRAS_dont_know/downloads/
COBRAS_dont_know/eggs/
COBRAS_dont_know/.eggs/
COBRAS_dont_know/lib/
COBRAS_dont_know/lib64/
COBRAS_dont_know/parts/
COBRAS_dont_know/sdist/
COBRAS_dont_know/var/
COBRAS_dont_know/wheels/
COBRAS_dont_know/pip-wheel-metadata/
COBRAS_dont_know/share/python-wheels/
COBRAS_dont_know/*.egg-info/
COBRAS_dont_know/.installed.cfg
COBRAS_dont_know/*.egg
COBRAS_dont_know/MANIFEST
COBRAS_dont_know/*.manifest
COBRAS_dont_know/*.spec
COBRAS_dont_know/pip-log.txt
COBRAS_dont_know/pip-delete-this-directory.txt
COBRAS_dont_know/htmlcov/
COBRAS_dont_know/.tox/
COBRAS_dont_know/.nox/
COBRAS_dont_know/.coverage
COBRAS_dont_know/.coverage.*
COBRAS_dont_know/.cache
COBRAS_dont_know/nosetests.xml
COBRAS_dont_know/coverage.xml
COBRAS_dont_know/*.cover
COBRAS_dont_know/*.py,cover
COBRAS_dont_know/.hypothesis/
COBRAS_dont_know/.pytest_cache/
COBRAS_dont_know/pytestdebug.log
COBRAS_dont_know/*.mo
COBRAS_dont_know/*.pot
COBRAS_dont_know/*.log
COBRAS_dont_know/local_settings.py
COBRAS_dont_know/db.sqlite3
COBRAS_dont_know/db.sqlite3-journal
COBRAS_dont_know/instance/
COBRAS_dont_know/.webassets-cache
COBRAS_dont_know/.scrapy
COBRAS_dont_know/docs/_build/
COBRAS_dont_know/doc/_build/
COBRAS_dont_know/target/
COBRAS_dont_know/.ipynb_checkpoints
COBRAS_dont_know/profile_default/
COBRAS_dont_know/ipython_config.py
COBRAS_dont_know/.python-version
COBRAS_dont_know/__pypackages__/
COBRAS_dont_know/celerybeat-schedule
COBRAS_dont_know/celerybeat.pid
COBRAS_dont_know/*.sage.py
COBRAS_dont_know/.env
COBRAS_dont_know/.venv
COBRAS_dont_know/env/
COBRAS_dont_know/venv/
COBRAS_dont_know/ENV/
COBRAS_dont_know/env.bak/
COBRAS_dont_know/venv.bak/
COBRAS_dont_know/pythonenv*
COBRAS_dont_know/.spyderproject
COBRAS_dont_know/.spyproject
COBRAS_dont_know/.ropeproject
COBRAS_dont_know/site
COBRAS_dont_know/.mypy_cache/
COBRAS_dont_know/.dmypy.json
COBRAS_dont_know/dmypy.json
COBRAS_dont_know/.pyre/
COBRAS_dont_know/.pytype/
COBRAS_dont_know/.prof
#pycharm
COBRAS_dont_know/.idea/**/workspace.xml
COBRAS_dont_know/.idea/**/tasks.xml
COBRAS_dont_know/.idea/**/usage.statistics.xml
COBRAS_dont_know/.idea/**/dictionaries
COBRAS_dont_know/.idea/**/shelf
COBRAS_dont_know/.idea/**/contentModel.xml
COBRAS_dont_know/.idea/**/dataSources/
COBRAS_dont_know/.idea/**/dataSources.ids
COBRAS_dont_know/.idea/**/dataSources.local.xml
COBRAS_dont_know/.idea/**/sqlDataSources.xml
COBRAS_dont_know/.idea/**/dynamic.xml
COBRAS_dont_know/.idea/**/uiDesigner.xml
COBRAS_dont_know/.idea/**/dbnavigator.xml
COBRAS_dont_know/.idea/**/gradle.xml
COBRAS_dont_know/.idea/**/libraries
COBRAS_dont_know/cmake-build-*/
COBRAS_dont_know/.idea/**/mongoSettings.xml
COBRAS_dont_know/*.iws
COBRAS_dont_know/out/
COBRAS_dont_know/.idea_modules/
COBRAS_dont_know/atlassian-ide-plugin.xml
COBRAS_dont_know/.idea/replstate.xml
COBRAS_dont_know/com_crashlytics_export_strings.xml
COBRAS_dont_know/crashlytics.properties
COBRAS_dont_know/crashlytics-build.properties
COBRAS_dont_know/fabric.properties
COBRAS_dont_know/.idea/httpRequests
COBRAS_dont_know/.idea/caches/build_file_checksums.ser
COBRAS_dont_know/.idea/**/sonarlint/
COBRAS_dont_know/.idea/**/sonarIssues.xml
COBRAS_dont_know/.idea/**/markdown-navigator.xml
COBRAS_dont_know/.idea/**/markdown-navigator-enh.xml
COBRAS_dont_know/.idea/**/markdown-navigator/
COBRAS_dont_know/.idea/$CACHE_FILE$
COBRAS_dont_know/.idea/codestream.xml

##COBRAS_testing
#python
COBRAS_testing/__pycache__/
COBRAS_testing/*.py[cod]
COBRAS_testing/*$py.class
COBRAS_testing/*.so
COBRAS_testing/.Python
COBRAS_testing/build/
COBRAS_testing/develop-eggs/
COBRAS_testing/dist/
COBRAS_testing/downloads/
COBRAS_testing/eggs/
COBRAS_testing/.eggs/
COBRAS_testing/lib/
COBRAS_testing/lib64/
COBRAS_testing/parts/
COBRAS_testing/sdist/
COBRAS_testing/var/
COBRAS_testing/wheels/
COBRAS_testing/pip-wheel-metadata/
COBRAS_testing/share/python-wheels/
COBRAS_testing/*.egg-info/
COBRAS_testing/.installed.cfg
COBRAS_testing/*.egg
COBRAS_testing/MANIFEST
COBRAS_testing/*.manifest
COBRAS_testing/*.spec
COBRAS_testing/pip-log.txt
COBRAS_testing/pip-delete-this-directory.txt
COBRAS_testing/htmlcov/
COBRAS_testing/.tox/
COBRAS_testing/.nox/
COBRAS_testing/.coverage
COBRAS_testing/.coverage.*
COBRAS_testing/.cache
COBRAS_testing/nosetests.xml
COBRAS_testing/coverage.xml
COBRAS_testing/*.cover
COBRAS_testing/*.py,cover
COBRAS_testing/.hypothesis/
COBRAS_testing/.pytest_cache/
COBRAS_testing/pytestdebug.log
COBRAS_testing/*.mo
COBRAS_testing/*.pot
COBRAS_testing/*.log
COBRAS_testing/local_settings.py
COBRAS_testing/db.sqlite3
COBRAS_testing/db.sqlite3-journal
COBRAS_testing/instance/
COBRAS_testing/.webassets-cache
COBRAS_testing/.scrapy
COBRAS_testing/docs/_build/
COBRAS_testing/doc/_build/
COBRAS_testing/target/
COBRAS_testing/.ipynb_checkpoints
COBRAS_testing/profile_default/
COBRAS_testing/ipython_config.py
COBRAS_testing/.python-version
COBRAS_testing/__pypackages__/
COBRAS_testing/celerybeat-schedule
COBRAS_testing/celerybeat.pid
COBRAS_testing/*.sage.py
COBRAS_testing/.env
COBRAS_testing/.venv
COBRAS_testing/env/
COBRAS_testing/venv/
COBRAS_testing/ENV/
COBRAS_testing/env.bak/
COBRAS_testing/venv.bak/
COBRAS_testing/pythonenv*
COBRAS_testing/.spyderproject
COBRAS_testing/.spyproject
COBRAS_testing/.ropeproject
COBRAS_testing/site
COBRAS_testing/.mypy_cache/
COBRAS_testing/.dmypy.json
COBRAS_testing/dmypy.json
COBRAS_testing/.pyre/
COBRAS_testing/.pytype/
COBRAS_testing/.prof

#pycharm
COBRAS_testing/.idea/**/workspace.xml
COBRAS_testing/.idea/**/tasks.xml
COBRAS_testing/.idea/**/usage.statistics.xml
COBRAS_testing/.idea/**/dictionaries
COBRAS_testing/.idea/**/shelf
COBRAS_testing/.idea/**/contentModel.xml
COBRAS_testing/.idea/**/dataSources/
COBRAS_testing/.idea/**/dataSources.ids
COBRAS_testing/.idea/**/dataSources.local.xml
COBRAS_testing/.idea/**/sqlDataSources.xml
COBRAS_testing/.idea/**/dynamic.xml
COBRAS_testing/.idea/**/uiDesigner.xml
COBRAS_testing/.idea/**/dbnavigator.xml
COBRAS_testing/.idea/**/gradle.xml
COBRAS_testing/.idea/**/libraries
COBRAS_testing/cmake-build-*/
COBRAS_testing/.idea/**/mongoSettings.xml
COBRAS_testing/*.iws
COBRAS_testing/out/
COBRAS_testing/.idea_modules/
COBRAS_testing/atlassian-ide-plugin.xml
COBRAS_testing/.idea/replstate.xml
COBRAS_testing/com_crashlytics_export_strings.xml
COBRAS_testing/crashlytics.properties
COBRAS_testing/crashlytics-build.properties
COBRAS_testing/fabric.properties
COBRAS_testing/.idea/httpRequests
COBRAS_testing/.idea/caches/build_file_checksums.ser
COBRAS_testing/.idea/**/sonarlint/
COBRAS_testing/.idea/**/sonarIssues.xml
COBRAS_testing/.idea/**/markdown-navigator.xml
COBRAS_testing/.idea/**/markdown-navigator-enh.xml
COBRAS_testing/.idea/**/markdown-navigator/
COBRAS_testing/.idea/$CACHE_FILE$
COBRAS_testing/.idea/codestream.xml























